$font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-family-secondary: 'Courier New', Courier, monospace;
$font-family-box: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
$font-weight: 600;

$color-text: #1D262D;
$color-base: #FB5252;
$color-important: #C12020;
$color-warning: #FFA68F;

$border-radius: 2px;

$box-shadow: -5px 10px 5px 0px rgba(0, 0, 0, 0.75);