$font-family: 'Times New Roman', Times, serif, Courier, sans-serif;
$font-family-secondary: Verdana, Geneva, Tahoma, sans-serif;
$font-family-box: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
$font-weight: 400;

$color-text: #08192B;
$color-base: #1273EB;
$color-important: #04458F;
$color-warning: #92CDFA;

$border-radius: 8px;

$box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.75);